/* Container Styling */
.pokeitem-main-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Image Styling */
.pokeitem-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Number Styling */
.pokemon-number {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

/* Name Styling */
.pokemon-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Types Container */
.pokemon-types {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Type Box Styling */
.type-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 5px;
  color: white;
  font-weight: bold;
  padding: 2px;
}

.grass {
  background-color: rgb(49, 180, 49);
}

.poison {
  background-color: purple;
}
